.ts_main {
    display: inline-block;
    font-family: Arial, Verdana;
    background-color: #eeeeee;
    border: 1px solid #222222;
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px;
    padding: 10px;
}